#course-output-wrapper {
    visibility: hidden;
    display: grid;
    z-index: 1000;
    position: fixed;
    top: 0;
    padding: 1em;
    height: 100vh;
    background: rgba(36, 36, 36, .9);
    margin: 0.2rem;
}

@keyframes courseModal {
    0% {
        top: -100px;
        opacity: 0;
        visibility: hidden;
    }

    100% {
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}

.img-wrapper {
    min-width: 60vw;
    margin: auto;
    border: 1px solid rgba(255, 217, 0, 0.795);
    margin-top: 0;
}

.img-wrapper .course-img {
    width: 100%;
    display: block;
    margin-bottom: 0;
}

.course-description-wrapper p {
    margin-top: 0;
}