
@import url("index-partials/_global.css");
@import url("index-partials/_general.css");


/*? MODAL */

h2 {
	background: #3f4c77;
	margin: 0;
	padding: .6em;
	text-align: center;
	margin-bottom: 1em;
	color: white;
	font-size: 1.5em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.top {
	width: 80%;
	margin: 0;
	margin: auto;
	padding: 2em;
	background: blue; 
}

.form-wrapper {
	display: grid;
	margin: 0;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
	background: white;
}

.details {
	color: #3f4c77;
	width: 85%;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
	display: flex;
}

#Fname, #Lname {
	width: 44%;
}

.agreement {
	margin-bottom: 0;
}

form {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin: auto;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	background: white;
	border-radius: 5px;
}

input {
	margin: .5em;
	padding: .5em;
	border: none;
	border-bottom: .5px solid #3f4c77;
	font-family: inherit;
	transition: all 100ms ease-in-out;
}

input:hover,
input:focus {
	border-bottom: .5px solid var(--gold);
	/*color: var(--gold);*/
}

input[class="format"] {
	width: 80%;
	margin: auto;
}

label {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: auto;
}

input[type="checkbox"] {
	margin-right: 10px;	
	
}

label[class="checkbox"] {
	font-size: .7em;
	padding: .5em;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5em;
}

button {
	padding: .5em;
	cursor: pointer;
	background: none;
	border: none;
	border-radius: 5px;
	width: 80%;
	margin: 1em auto 2em;
	font-family: inherit;
	transition: all 100ms ease-in;
	font-weight: 400;
	box-shadow: 0 0 2px rgba(0,0,0,.4);
}

button:hover {
	background: var(--new-blue);
	opacity: .8;
	color: white;
}

@media (min-width: 1000px) {

	.form-wrapper {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
	form {
	width: 80%;
}
}