.overall-wrapper {
  padding: 2rem 0 1.5rem;
}

/*? FEATURED COURSE */

.featured-course-wrap-courses {
  padding: 0.5rem;
  margin: 1.2rem 0.5rem;
  background: linear-gradient(to bottom right, #bbbbbb2a, #c0c0c025);
}

.featured-course-wrap-courses p,
.featured-course-wrap-courses h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0.5rem;
}

.featured-course-wrap-courses h2::after {
  content: "";
  height: 1px;
  display: block;
  background: var(--gold);
  margin: .5rem 0 1rem;
  width: 50%;
}

.featured-course-wrap-courses img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  border: 1px solid silver;
}

#course-list-wrapper-banner,
#cs-banner {
  background: #45507e;
  padding: 0.5rem;
  color: var(--off-white);
  font-weight: 200;
  font-size: 1.3em;
  text-transform: uppercase;
  border-top: 1px solid rgba(192, 192, 192, 0.116);
}

#cs-banner {
  margin-top: 1rem;
}

#course-update {
  background: var(--silver);
  padding: 0.1rem 0.5rem;
  width: 100%;
  font-weight: 400;
  z-index: 1000;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  color: var(--new-blue);
}

#course-list-wrapper-banner,
#cs-banner,
#course-update {
  text-align: center;
  display: block;
}

.description-wrapper p {
  margin: 1.5rem 0;
}

.featured-course-inner {
  padding: 0.5rem;
}

.featured-course-inner p {
  color: rgb(224, 224, 224);
}

.featured-course-wrap-courses .btns {
  justify-content: center;
  display: flex;
  margin: 1.5em 0 0.5em;
  transition: all 100ms ease-in-out;
}

.explore-btn {
  display: block;
  padding: 0.5rem 1rem;
  width: 95%;
  text-decoration: none;
  font-weight: bold;
  color: #ddd;
  text-align: center;
  transition: all 150ms ease;
  background: transparent;
  border: 1px solid #545c81;
  border-radius: 2px;
  font-weight: 100;
  letter-spacing: 0.2rem;
  margin: 2rem auto 1rem;
}

.explore-btn:hover {
  background: #6e77a1;
  color: #fff;
}

/* ? PROMOTIONAL COUNTDOWN */
.promo-countdown {
  font-size: 1.2rem;
  background: var(--bannerGrey);
  background: #454f80;
}

.promo-finished {
  background: rgba(255, 0, 0, 0.438);
  text-transform: uppercase;
}

.promo-countdown,
.promo-finished {
  padding: 0.5rem;
  border-radius: 1px;
  margin: 1rem auto;
  text-align: center;
}

.hurry-message {
  color: var(--gold);
  font-weight: 600;
  font-style: italic;
}

/* ?/-------------------/ */

@media (min-width: 850px) {
  .featured-course-wrap-courses {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
  }

  .featured-course-wrap-courses img {
    width: 50%;
    margin: 0;
    margin-right: 1.5rem;
  }

  .featured-course-inner {
    margin: auto;
    justify-content: center;
  }

  .featured-course-inner > p {
    margin: 0 auto;
  }

  .description-wrapper {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .featured-course-wrap-courses {
    margin: 2em;
  }

  .description-wrapper p {
    margin: 1.5rem 0;
  }
}
