@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap");

*{
  box-sizing: border-box;
}

.auth-overall-wrapper {
  background: white;
  z-index: 2000;
  display: none;
  position: fixed;
  top: 10%;
  bottom: 25%;
  right: 5px;
  border-bottom: 5px solid #3f50a0ea;
}

.auth-overall-wrapper.show {
  display: flex;
}

.main-auth-wrapper,
.logged-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 300px;
  height: 300px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  padding: 3rem .5rem;
  
}

.logged-in-wrapper {
  display: inherit;
  justify-self: flex-start;
  text-align: center;
}

.logged-in-wrapper *,
.main-auth-wrapper,
.logged-in-wrapper,
.user-input {
  font-weight: 300;
}

.validate-btn,
.logout-btn {
  all: unset;
  text-align: center;
  width: 150px;
  margin-top: 2rem;
  display: block;
  border: 1px solid rgba(255, 153, 0, 0.288);
  background: rgba(255, 166, 0, 0.815);
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 150ms ease;
}

.validate-btn:hover,
.logout-btn:hover {
  background: orange;
}

.user-input {
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
}

.user-input:focus {
  border: none;
  padding: .9rem 1.1rem;
 outline: 1px solid orange;
}

.validate-btn,
.user-input,
.logout-btn {
  font-family: inherit;
}

.logout-btn {
  margin: auto;
  margin-top: 3rem;
}


.user-log-in-message {
  color: rgb(248, 248, 248);
  font-weight: 200;
  display: block;
  text-align: right;
  padding-right: 1.5rem;
  margin-top: 0;
}