@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap");

*{
  box-sizing: border-box;
}

.auth-overall-wrapper {
  background: white;
  z-index: 2000;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
}

.auth-overall-wrapper.show {
  display: unset;
}

.main-auth-wrapper,
.logged-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 300px;
  height: 400px;
  margin: auto;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.logged-in-wrapper {
  display: inherit;
  justify-self: flex-start;
}

.validate-btn,
.logout-btn {
  all: unset;
  text-align: center;
  width: 150px;
  margin-top: 2rem;
  display: block;
  border: 1px solid rgba(255, 153, 0, 0.288);
  background: orange;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.user-input {
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.288);
}

.validate-btn,
.user-input,
.logout-btn {
  border-radius: 5px;
  font-family: inherit;
}

.logout-btn {
  margin: auto;
  margin-top: 3rem;
}
