/* ? COURSE LIST WRAPPER */

.course-list-wrapper {
  background: rgb(46, 51, 77);
}

.course-list-wrapper h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  z-index: 100;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.course-top-info {
  display: flex;
  width: 90%;
}

.sec-title-underline::after {
  content: "";
  height: 1px;
  display: block;
  background: var(--gold);
  margin: 0.2rem auto 2rem;
  width: 80%;
}

.course-top-info a {
  border: 1px solid white;
  padding: 0.5em 1em;
  transition: all 100ms ease-in-out;
  width: 20%;
  text-align: right;
  align-self: center;
  z-index: 100;
  padding: 1rem;
  position: absolute;
  visibility: hidden;
}

.course-top-info a:hover {
  background: rgba(63, 76, 119, 1);
  border: 1px solid rgba(63, 76, 119, 1);
}

.course-bottom-info {
  display: flex;
  width: 100%;
}

.course-bottom-info a,
.course-top-info a {
  font-size: 1.2em;
  transition: all 100ms ease-in-out;
  padding: 0.5em 1em;
  font-weight: 400;
  margin: 1rem auto 2rem;
  width: 80%;
  text-align: center;
  border-radius: 2px;
  background: #3a4264;
  border: 1px solid rgba(192, 192, 192, 0.233);
  box-shadow: 0 1px 2px rgb(0 0 0 / 80%);
}

.course-top-info a {
  width: 50%;
}

.course-bottom-info a:hover,
.course-top-info a:hover {
  background: var(--gold);
  border: 1px solid var(--gold);
  color: var(--navy);
  transition: all 150ms ease;
}
.course-bottom-info a:hover > i,
.course-top-info a:hover > i {
  color: var(--navy);
  transform: rotate(180deg);
}

.course-bottom-info a i,
.course-bottom-info a i {
  color: var(--gold);
  opacity: 0.8;
  font-size: 0.8em;
  margin-left: 0.5em;
  align-self: inherit;
}

.course-list-wrapper * {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
}

.course-desc {
  margin-bottom: 1.5em;
  padding: 0.5rem 0.5rem;
  background: linear-gradient(to bottom right, #313857, #3d4466);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(192, 192, 192, 0.089);
}

.course-desc img {
  max-width: 100%;
  border: 1px solid var(--off-white);
  margin: 0;
  padding: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.course-desc span {
  font-weight: 700;
}

.course-desc p {
  font-weight: 100;
  margin-left: 0.2rem;
  color: white;
  font-weight: 200;
}

.course-info h4 {
  font-size: 1.4em;
  margin: 0.5em 0.2rem;
  font-weight: 200;
  text-transform: uppercase;
}

.course-info h4::after {
  content: "";
  height: 1px;
  display: block;
  background: var(--gold);
  width: 30%;
  margin-top: 5px;
}

.course-bottom-details {
  font-size: 0.95rem;
  border-top: 0.5px solid rgba(192, 192, 192, 0.13);
}

.course-bottom-details > p {
  margin-bottom: 0;
}

.course-bottom-details p:last-child {
  margin-top: 0.2rem;
}

.course-info {
  margin-bottom: 1.5em;
}

a.cta-course-page {
  margin-top: 0;
  padding: 0.5em 0.3em;
  transition: all 0.2s;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin-top: 1.8rem;
  text-decoration: none;
  margin-left: auto;
}

a.cta-course-page,
#cs-course .cs-btn {
  border-bottom: 1px solid var(--gold);
  border-left: 1px solid var(--gold);
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
  letter-spacing: 0.2em;
}

#cs-course .cs-btn {
  background: var(--bannerGrey);
}

.cta-course-page::after,
#cs-course .cs-btn::after {
  content: "\f35a";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  margin-left: 0.3em;
}

a.cta-course-page:hover,
a.cta-course-page:focus,
#cs-course .cs-btn:hover,
#cs-course .cs-btn:focus {
  cursor: pointer;
  background: var(--gold);
  color: var(--navy);
}

.course-desc div p.enlisted {
  margin-bottom: 2em;
}

/*? ----- COURSE OUTPUT MODAL ----- */

.course-description-wrapper h4 {
  font-size: 1.8rem;
}

.course-description-wrapper > p {
  font-size: 1.1rem;
}

.classVideo span:last-child {
  font-size: .8rem;
  margin-left: auto;
}

/*? -------------------------------- */

/*? MEDIA QUERIES */

/*? MOBILE */

@media (min-width: 500px) {
}

/*? MOBILE - LANDSCAPE */

@media (min-width: 700px) {
}

/*? TABLET */

@media (min-width: 820px) {
  .overall-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    margin: 0 auto;
  }

  .course-list-wrapper h3,
  .course-desc {
    width: 90%;
  }

  .course-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: none;
    padding: 0.5em;
  }

  .course-desc img {
    height: 300px;
    max-width: 100%;
    object-fit: cover;
  }

  .course-list-wrapper h3 {
    text-align: left;
    margin-bottom: 4rem;
    font-size: 2.5em;
    position: relative;
  }

  .sec-title-underline::after {
    margin: 0;
    width: 40%;
  }

  .course-info {
    padding: 0;
    margin-top: 1em;
  }


}

/*? TABLET - LANDSCAPE */

@media (min-width: 1000px) {
  .overall-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-wrapper {
    padding: 2rem;
  }
}

/*? DESKTOP */

@media (min-width: 1200px) {
  .hero-wrapper {
    padding: 3em;
  }

  .course-top-info a {
    position: relative;
    visibility: unset;
  }

  .course-top-info i {
    color: var(--gold);
    opacity: 0.8;
    font-size: 0.8em;
    margin-left: 0.3em;
    align-self: inherit;
  }

  .course-bottom-info a {
    visibility: hidden;
    position: absolute;
  }

  .overall-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
