/*? NAVIGATION */

header {
  margin-bottom: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  z-index: 10;
  align-items: center;
}

.active {
  border-bottom: 1px solid var(--silver);
}

.open-menu {
  font-size: 1.7em;
  position: relative;
  margin: 0;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
}

nav .menu {
  font-size: 36px;
}

.chevron {
  color: #b3241a;
  transform: translateX(-3px);
}

/*? MOBILE SETTINGS */

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background: #0c0c0c;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  top: 0;
  transform: translateY(-100%);
  transition: all 150ms ease-in;
  opacity: 0;
}

.open-menu-sect {
  transform: translateY(0);
  visibility: unset;
  opacity: 1;
}

/*?---------------------*/

nav ul i {
  color: var(--gold);
  font-size: 2em;
  position: absolute;
  top: 5%;
  right: 8%;
  font-weight: 400;
  margin: 0;
}

nav ul li a {
  margin: 0;
  padding: 0.8em;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: auto;
  border-bottom: 1px solid rgba(224, 231, 233, 0.2);
  transition: all 200ms ease;
}

nav ul li a:hover {
  background: rgba(46, 55, 73, 0.253);
  margin: 0;
  border-bottom: 1px solid var(--silver);
}

nav ul li {
  list-style-type: none;
  margin: 0;
  cursor: pointer;
  width: 70%;
  margin-left: auto;
}

nav ul .close-menu {
  position: absolute;
  color: white;
  right: 10px;
  top: 8px;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.active:hover {
  color: white;
}

.logo {
  color: white;
  display: flex;
  text-decoration: none;
  align-items: center;
  font-family: var(--main-content);
  font-size: 2.2em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: 0.2rem;
  color: #444049;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  color: rgba(255, 255, 255, 0.89);
  text-transform: uppercase;
  font-weight: 700;
  z-index: 2000;
  position: relative;
}

nav a {
  display: flex;
}

nav .open-menu,
nav .open-nav {
  cursor: pointer;
}

/*? DESKTOP VERSION */

@media (min-width: 950px) {
  nav {
    display: flex;
  }

  .navigation {
    display: flex;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    visibility: unset;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: auto;
    opacity: unset;
    margin: 0;
    padding: 0;
    transform: unset;
    position: unset;
  }

  .logo {
    font-size: 3rem;
    margin-left: 1rem;
  }

  .navigation li {
    width: unset;
    margin: 0;
  }

  .navigation li a {
    text-align: right;
    margin-right: 1.8rem;
  }

  .navigation a {
    padding: 0;
    margin: 0;
    align-items: center;
    visibility: visible;
    color: white;
    position: relative;
    border-bottom: none;
  }

  .navigation a:hover {
    background: rgba(46, 55, 73, 0.1);
    padding-left: 0;
    margin-right: 1.8rem;
    border-bottom: none;
  }

  .navigation span {
    color: var(--gold);
    font-size: inherit;
    margin: 0;
    padding: 0;
  }

  nav span .menu {
    display: none;
  }

  .navigation a::before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    width: 100%;
    background: var(--gold);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
    transform-origin: 0;
  }

  .navigation a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .close-menu {
    display: none;
  }
}
