/*? SLIDER SECTION */

.terms-content {
    height: 0;
    position: absolute;
    visibility: hidden; 
}

.terms-content.active {
    height: auto;
    position: relative;
    visibility: unset;
  
}

.content {
    position: relative;
    border-bottom: none;
}

.content p {
    border-bottom: none;
    font-size: .9rem;
}

.cont-para {
    color: white;
    padding: 1em .5em;
    max-width: 95%;
    margin: 0 auto;
}

.btn-slider {
    display: inline-block;
    background: #353b5a;
    border: none;
    color: #ddd;
    font-weight: 100;
    border-top: .5px solid rgba(192, 192, 192, 0.144);
    padding: .5rem 1rem;
    width: 100%;
    font-size: 1em;
    font-family: inherit;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-sign,
.minus-sign {
    pointer-events: none;
}

.plus-sign:after {
    content: '\002B';
    font-size: 1.5em;
    
}

.minus-sign:after {
    content: '\2212';
    font-size: 1.5em;
}

.btn-slider:hover,
.btn-slider:focus {
    cursor: pointer;
    
}


@media (min-width: 600px) {
    .menu-wrapper {
        display: absolute;
        display: none;
}
}