/*? SLIDER SECTION */

.cont-para {
    color: white;
    padding: 1em .5em;
    max-width: 95%;
    margin: 0 auto;
}

.btn-slider {
    display: inline-block;
    background: var(--gold);
    border: none;
    /* ! border-bottom: .01em solid rgb(63, 76, 119, .2); */
    padding: .5em 1em;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    font-family: inherit;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-sign:after {
    content: '\002B';
    font-size: 1.5em;
}

.minus-sign:after {
    content: '\2212';
    font-size: 1.5em;
}

.btn-slider:hover,
.btn-slider:focus {
    cursor: pointer;
}

@media (min-width: 600px) {
    .menu-wrapper {
        position: absolute;
        visibility: hidden;
    }
}