
/*? SUBSCRIPTION FORM */

form h2 {
    background: #3f4c77;
    margin: 0;
    padding: .6em;
    text-align: center;
    margin-bottom: 1em;
    color: white;
    font-size: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.top {
    width: 80%;
    margin: 0;
    margin: auto;
    padding: 2em;
    background: blue;
}

.form-wrapper {
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 30px;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0, .4);
    margin-bottom: 0;
    animation-name: animatetop;
    animation-duration: 200ms;
}

@keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.details {
    color: #3f4c77;
    width: 85%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
}

#Fname,
#Lname {
    width: 45%;
}

.agreement {
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background: white;
    border-radius: 5px;
    position: relative;
}

input {
    margin: .5em;
    padding: .5em;
    border: none;
    border-bottom: .5px solid #3f4c77;
    font-family: inherit;
    transition: all 100ms ease-in-out;
}

input:hover,
input:focus {
    border-bottom: .5px solid var(--gold);
}

input[class="format"] {
    width: 82%;
    margin: auto;
    border-bottom: 1px solid var(--new-blue);
}

input[class="format"]:hover,
input[class="format"]:focus {
    width: 82%;
    margin: auto;
    border-bottom: 1px solid var(--gold);
} 

label {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

/* input[type="checkbox"] {

} */

label[class="checkbox"] {
    display: flex;
    justify-content: center;
    font-size: .7em; 
    /* padding: .5em; */
    align-items: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 2.5em;
    color: var(--new-blue);
}

label[class="checkbox"] p {
    width: 82%;
}

#accept {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    /* height: 2em; */
}

form button {
    padding: .5em;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
    width: 80%;
    margin: 1em auto 2em;
    font-family: inherit;
    transition: all 100ms ease-in;
    font-weight: 400;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
}

form button:hover {
    background: var(--new-blue);
    opacity: .8;
    color: white;
}

form i {
    right: -15px;
    top: -20px;
    font-size: 2em;
    position: absolute;
    color: white;
    cursor: pointer;
}

@media (min-width: 1000px) {

    .form-wrapper {
        width: 100%;
        /* padding-top: 150px; */
    }

    label[class="checkbox"] p {
        width: 100%;
        margin-left: 1em;
    }

    form {
        width: 50%;
    }
}
