#mc_embed_signup {
  display: none;
  opacity: 0;
  transition: all 350ms ease;
  background-color: rgba(0, 0, 0, 0.842);
  pointer-events: none;
}

#mc_embed_signup.show {
  display: grid;
  opacity: 1;
  position: fixed;
  height: 100vh;
  display: grid;
  place-content: center;
  top: 0;
  width: 100%;
  animation: showSlider 150ms ease; 
  z-index: 10000;
  pointer-events: unset;
  overflow-y: hidden;
}

form {
  background: linear-gradient(to bottom right, #313857, #3d4466);
  width: 450px;
  margin: 0 auto;
}

/* #mc_embed_signup_scroll {

} */

form input {

 width: 90%;
 padding: .5rem .2rem;
 font-family: inherit;
  border: 1px solid red;
}

.mc-field-group {
 width: 100%;

 padding: 1rem 0;
}


input[type="submit"] {
  all: unset;
  border: 1px solid silver;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all 100ms linear;
  display: block;
  width: 80%;
  margin: 1rem auto 2rem;
  text-align: center;
  color: rgb(230, 230, 230);
}

input[type="submit"]:hover {
 background-color: white;
 color: #3C4365;
 border: 1px solid #3C4365;
}

.indicates-required {
  text-align: right;
  margin: .2rem .5rem;
}

.indicates-required,
.asterisk {
  font-size: .8rem;
}

.asterisk {
  vertical-align: top;
}

@keyframes showSlider {
  0%{
transform: translateY(-100%);
  }
  100%{
transform: translateY(0%);
  }
}
